.videoCardDiv-right {
	margin-top: 32px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;

	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;

	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.videoCardDiv-left {
	margin-top: 32px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;

	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;

	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.videoCardDiv-compact {
	margin-top: 32px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;

	padding-left: 0px;
	padding-right: 0px;
	padding-top: 8px;
	padding-bottom: 0px;

	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.videoCardGrid-right {
	display: grid;
	grid-template-columns: auto 560px;
	grid-template-rows: auto auto auto;
	grid-template-areas:
	'header vid'
	'info vid'
	'more vid';

}

.videoCardGrid-left {
	display: grid;
	grid-template-columns: 560px auto;
	grid-template-rows: auto auto auto;
	grid-template-areas:
	'vid header'
	'vid info'
	'vid more';

}

.videoCardGrid-compact {
	display: grid;
	grid-template-areas:
	'header'
	'vid'
	'info'
	'more';
}

.videoTitle {
	grid-area: header;
}

.title {
	text-align: center;
	font-family: "Lucida Sans Unicode";
}

.moreInfo-right {
	text-align: left;
	grid-area: more;
	align-self: end;
	margin-top: 10px;
}

.moreInfo-left {
	text-align: right;
	grid-area: more;
	align-self: end;
	margin-top: 10px;
}

.moreInfo-compact {
	text-align: left;
	grid-area: more;
	align-self: end;
}

.video-right {
	text-align: right;
	grid-area: vid;
}

.video-left {
	text-align: left;
	grid-area: vid;
}

.video-compact {
	text-align: center;
	grid-area: vid;
}
.information {
	grid-area: info;
}
.information-compact {
	text-align: center;
	grid-area: info;
}

.description {
	padding-right: 16px;
	padding-left: 16px;
	font-family: "Lucida Sans Unicode";
	font-size: 14px;
}

.linkText:link, .linkText:visited {
	background-color: #232334;
	color: white;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

.linkText:hover, .linkText:active {
	background-color: #363646;
	color: white;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}
