{% extends "layout.html" %}
{% block title %}
{{ session.profile.name }}'s dashboard
{% endblock %}

{% block content %}
<div style="text-align: center;">
    <div id="dashboard-card"></div>
</div>

<div style="background-color: white; padding: 16px;">
    <h2>Education</h2>
    <div style="grid-template-columns: auto auto auto auto; display: grid; grid-gap: 8px">
    {% for school in user.education %}
        <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1)">
            <h3> {{ school.name }} </h3>
            <h4> {{ school.degree }}</h4>
            <p> {{ school.start_date }} - {{ school.end_date }}</p>
        </div>
    {% endfor %}
    </div>
    <h2>Employment History</h2>
    <div style="grid-template-columns: auto auto auto auto; display: grid; grid-gap: 8px">
    {% for job in user.work_history %}
        <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1)">
            <h3> {{ job.name }} </h3>
            <h4> {{ job.position }}</h4>
            <p> {{ job.description }}</p>
            <p> {{ job.start_date }} - {{ job.end_date }}</p>
        </div>
    {% endfor %}
    </div>
    <h2>Awards</h2>
    <div style="grid-template-columns: auto auto auto auto; display: grid; grid-gap: 8px">
    {% for award in user.awards %}
        <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1)">
            <h3> {{ award.name }} </h3>
            <h4> {{ award.description }}</h4>
            <p> Awarded By: {{ award.issuer }}</p>
            <p> {{ award.date }}</p>
        </div>
    {% endfor %}
    </div>
    <h2>Portfolio</h2>
    <div id="card_container"></div>
</div>
{% endblock %}


{% block scripts %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboardcard.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/videocard.css') }}">

<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
<script src="{{ url_for('static', filename='js/DashboardCard.js') }}" type="text/babel"></script>
<script src="{{ url_for('static', filename='js/ImageCard.js') }}" type="text/babel"></script>
<script src="{{ url_for('static', filename='js/VideoCard.js') }}" type="text/babel"></script>

<script type="text/babel">
            var skills =  {{ user.skills | tojson }}

            ReactDOM.render(
				<DashboardCard
				    name='{{ user.name }}'
				    email='{{ user.email }}'
				    url='{{ user.picture_normalized_url }}'
				    description='{{user.description}}'
				    skills={skills}
				    show_button={true}
				    linkname="Edit"
				    editpage="{{ url_for('edit_dashboard') }}"
				/>,
				document.getElementById('dashboard-card')
			);
</script>

<script type="text/babel">
			const Projects = () => {
				return (
					<div>
						{% for project in user.portfolio %}

							{% if  loop.index % 2 == 0 %}
							{% set ori = "left" %}
							{% else %}
							{% set ori = "right" %}
							{% endif %}

                            {% if project.item_type == 'youtube' %}
                                <VideoCard
                                    key="{{ loop.index }}"
                                    title="{{ project.title }}"
                                    description="{{ project.description }}"
                                    url="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
                                    extraInfo = "https://www.youtube.com/watch?v=dQw4w9WgXcQ"
                                    orientation="{{ ori }}"
                                    browser="{{ browser }}"
                                />
                            {% else %}
                                <ImageCard
                                    key="{{ loop.index }}"
                                    title="{{ project.title }}"
                                    description="{{ project.description }}"
                                    url="{{ project.image.url }}"
                                    extraInfo = "https://www.youtube.com/watch?v=dQw4w9WgXcQ"
                                    orientation="{{ ori }}"
                                    browser="{{ browser }}"
                                />
                            {% endif %}


						{% endfor %}
					</div>
				)

			}

			ReactDOM.render(
				<Projects />,
				document.getElementById('card_container')
			);
		</script>
{% endblock %}
