{% extends "layout.html" %}
{% block title %}
{{ session.profile.name }}'s dashboard | Student Profile Viewer
{% endblock %}

{% block content %}
<div class="container">
    <h1>Edit Profile</h1>
  	<hr>
    <div class="row">
        <form action="{{ url_for('edit_dashboard') }}" autocomplete="off" method="POST" enctype="multipart/form-data">
            <div class="col-md-3">
                <div class="text-center">
                    <img  id="profile_img_edit" src="{{ session.profile.picture }}" class="img-circle img-responsive" style="overflow: hidden;" alt="Profile Picture">
                </div>
                <br>
                <p>Upload a different Profile Picture:</p>
                <input name="picture" type="file" id="upload_image" accept="image/*" onchange="loadFile(event)" class="form-control"/>
                <script>
                    var loadFile = function(event) {
                      var output = document.getElementById('profile_img_edit');
                      output.src = URL.createObjectURL(event.target.files[0]);
                    };
                </script>
            </div>

            <div class="col-md-9 col-sm-9 edit-profile-row">
                <label class="col-lg-3 control-label">Profile Overview:</label>
                <div class="col-lg-8">
                    <textarea name="description" onkeyup="textCounter(this,'desc_chars_left',150);" id="description" class="form-control" rows="3" cols="30" maxlength="150">{{ user.description if user.description is not none }}</textarea>
                    <p id="desc_chars_left"></p>
                </div>
            </div>
            <div class="col-md-9 col-sm-9 edit-profile-row">
                <label class="col-lg-3 control-label">Given Name:</label>
                <div class="col-lg-8">
                    <input name="given_name_editable" id="given_name" class="form-control" type="text" value="{{ user.given_name_normalized }}">
                </div>
            </div>
            <div class="col-md-9 col-sm-9 edit-profile-row">
                <label class="col-lg-3 control-label">Family Name:</label>
                <div class="col-lg-8">
                    <input name="family_name_editable" id="family_name" class="form-control" type="text" value="{{ user.family_name_normalized }}">
                </div>
            </div>
            <div class="col-md-9 col-sm-9 edit-profile-row">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">Skills:</label>
                <div class="autocomplete col-lg-8 col-sm-8 col-md-8">
                    <input style="float: right;" id="skills_text_input" class="form-control" type="text" placeholder="Skill">
                    <br>
                </div>
                <button type="button" onclick="add_skill_handler()" id="add_skills_button" class="btn btn-primary col-sm-1 col-md-1 col-lg-1">Add</button>
                {% for skill in user.skills %}
                <button id="{{ skill }}skills_added" class="displayed_skills col-sm-3" type="button" onclick="remove_skill(this)">
                    <div class="displayed_skills_text">{{ skill }}<input type="hidden" name="skills[]" value="{{ skill }}">
                    </div>
                </button>
                {% endfor %}
            </div>
            <br>
            <div class="col-md-3 col-sm-3"></div>
            <div class="col-md-9 col-sm-9 edit-profile-row">
                <label class="col-lg-1 control-label">Awards:</label>
                <button type="button" onclick="add_award_handler()" id="add_award_button" style="col-lg-1" class="btn btn-primary">Add</button>
                {% for award in user.Awards %}
                    <div id="award_{{loop.index}}">
                        <button id="award_delete_{{loop.index}}" class="btn btn-danger" style="float: left;" type="button">Delete Award</button>
                        <script>
                            document.getElementById("award_delete_{{loop.index}}").addEventListener("click", function(e) {
                                remove_award(document.getElementById("award_{{loop.index}}"))
                            });
                        </script>
                        <!--
                        <div class="column col-md-4 text-center" style="float: center; overflow:hidden;">
                            <div id="awards_image_{{loop.index}}" class="crop_award" style="background-image: url('award.image')"></div>
                            <input name="awards_image{{award.image}}" type="file" id="award_{{loop.index}}_image" accept="image/*"/>
                            <script>
                                document.getElementById("award_{{loop.index}}_image").addEventListener("change", function(e){
                                    var output = document.getElementById("awards_image_{{loop.index}}");
                                    var input = document.getElementById("award_{{loop.index}}_image");
                                    var file = input.files[0];
                                    var reader = new FileReader();
                                    reader.onload = imageIsLoaded;
                                    reader.readAsDataURL(input.files[0]);

                                    function imageIsLoaded(e) {
                                      output.style.backgroundImage ='url(' + e.target.result + ')';
                                    }
                                })
                            </script>
                        </div> -->
                        <div class="edit-profile-row column col-md-4">
                            <label class='col-lg-3 column control-label'>Award Name:</label>
                            <div class='col-lg-8'>
                                <input name='award_name[]' id='award_{{loop.index}}_name_input' class='form-control column' type='text' value='{{award.name}}' />
                            </div>
                            <label class='col-lg-3 control-label' style='margin-top: 10px'>Award Description:</label>
                            <div class='col-lg-8' style='margin-top: 10px;'>
                                <textarea name='award_description[]' onkeyup="textCounter(this, 'award_{{loop.index}}_desc_chars_left', 120);" id='award_{{loop.index}}_desc_input' class='form-control column' rows='3' cols='30' placeholder='Award Description'>
                                    "{{ award.description }}"
                                </textarea>
                                <p id='award_{{loop.index}}_desc_chars_left'></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <br>
            <div class="col-md-3 col-sm-3"></div>
            <div class="col-md-9 edit-profile-row">
                <input type="submit" value="Submit" class="btn btn-primary btn-large">
            </div>
        </form>
    </div>
</div>

<script src="{{ url_for('static', filename='js/text_counter.js') }}"></script>
<script src="{{ url_for('static', filename='js/autocomplete.js') }}"></script>
<script src="{{ url_for('static', filename='js/add_skill.js') }}"></script>
<script src="{{ url_for('static', filename='js/add_award.js') }}"></script>
<script>
    var skills = {{ skills | tojson }};
    var awards =  {{ user.Awards }}
    autocomplete(document.getElementById("skills_text_input"), skills);

    if( awards != null ){
        var num_awards = awards.length;
    } else {
        var num_awards = 0;
    }

    function add_award_handler(){
        num_awards += 1;
        add_award(document.getElementById("add_award_button"), num_awards);
    }

    function add_skill_handler(){
        add_skill(document.getElementById("skills_text_input"), skills);
    }
</script>

{% endblock %}