{% extends "layout.html" %}
{% block title %}
{{ session.profile.name }}'s dashboard | Student Profile Viewer
{% endblock %}

{% block content %}
<script src="{{ url_for('static', filename='js/profile_validation.js') }}"></script>
<div class="container">
    <h1>Edit Profile</h1>
  	<hr>
    <div class="row">
        <form action="{{ url_for('edit_dashboard') }}" autocomplete="off" method="POST" enctype="multipart/form-data">
            <div class="col-md-3">
                <div class="text-center">
                    <img  id="profile_img_edit" src="{{ session.profile.picture }}" class="img-circle img-responsive" style="overflow: hidden;" alt="Profile Picture">
                </div>
                <br>
                <p>Upload a different Profile Picture:</p>
                <input name="picture" type="file" id="upload_image" accept="image/*" onchange="loadFile(event)" class="form-control"/>
                <script>
                    var loadFile = function(event) {
                      var output = document.getElementById('profile_img_edit');
                      output.src = URL.createObjectURL(event.target.files[0]);
                    };
                </script>
            </div>

            <div class="col-md-9 col-sm-9 edit-profile-row">
                <label class="col-lg-3 control-label">Profile Overview:</label>
                <div class="col-lg-8">
                    <textarea name="description" onkeyup="textCounter(this,'desc_chars_left',150);" id="description" class="form-control" rows="3" cols="30" maxlength="150">{{ user.description if user.description is not none }}</textarea>
                    <p id="desc_chars_left"></p>
                </div>
            </div>
            <div class="col-md-9 col-sm-9 edit-profile-row">
                <label class="col-lg-3 control-label">Given Name:</label>
                <div class="col-lg-8">
                    <input name="given_name_editable" id="given_name" class="form-control" type="text" value="{{ user.given_name_normalized }}">
                </div>
            </div>
            <div class="col-md-9 col-sm-9 edit-profile-row">
                <label class="col-lg-3 control-label">Family Name:</label>
                <div class="col-lg-8">
                    <input name="family_name_editable" id="family_name" class="form-control" type="text" value="{{ user.family_name_normalized }}">
                </div>
            </div>
            <div class="col-md-9 col-sm-9 edit-profile-row">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">Skills:</label>
                <div class="autocomplete col-lg-8 col-sm-8 col-md-8">
                    <input style="float: right;" id="skills_text_input" class="form-control" type="text" placeholder="Skill">
                    <br>
                </div>
                <button type="button" onclick="add_skill_handler()" id="add_skills_button" class="btn btn-primary col-sm-1 col-md-1 col-lg-1">Add</button>
                {% for skill in user.skills %}
                <button id="{{ skill }}skills_added" class="displayed_skills col-sm-3" type="button" onclick="remove_skill(this)">
                    <div class="displayed_skills_text">{{ skill }}<input type="hidden" name="skills[]" value="{{ skill }}">
                    </div>
                </button>
                {% endfor %}
            </div>
            <br>
            <div class="col-md-3 col-sm-3"></div>
            <div class="col-md-9 col-sm-9 edit-profile-row">
                <label class="col-lg-1 control-label">Awards:</label>
                <button type="button" onclick="add_award_handler()" id="add_award_button" style="col-lg-1" class="btn btn-primary">Add</button>
                {% for award in user.awards %}
                    <div id="award_{{loop.index}}" class="col-md-12" style="border-style: dashed; margin-top: 15px; padding: 15px;">
                        <button id="award_delete_{{loop.index}}" class="btn btn-danger" type="button">Delete Award</button>
                        <script>
                            document.getElementById("award_delete_{{loop.index}}").addEventListener("click", function(e) {
                            remove_validation("award_{{loop.index}}_name_input");
                                remove_validation("award_{{loop.index}}_name_input");
                                validate_all()
                                remove_award(document.getElementById("award_{{loop.index}}"))
                            });
                        </script>
                        <div class="edit-profile-row column col-md-12">
                            <label class='col column control-label'>Award Name (Required):</label>
                            <div class='col'>
                                <input aria-invalid="true" onkeyup='validate_all()' name='award_name[]' id='award_{{loop.index}}_name_input' class='form-control column' type='text' value='{{award.name}}' />
                            </div>
                            <label class='col control-label' style='margin-top: 10px'>Award Description:</label>
                            <div class='col' style='margin-top: 10px;'>
                                <textarea name='award_description[]' onkeyup="textCounter(this, 'award_{{loop.index}}_desc_chars_left', 120);" id='award_{{loop.index}}_desc_input' class='form-control column' rows='3' cols='30' placeholder='Award Description'>{{ award.description }}</textarea>
                                <p id='award_{{loop.index}}_desc_chars_left'></p>
                            </div>
                            <label class='col control-label' style='margin-top: 10px' >Award Reference:</label>
                            <div class='col'>
                                <select name='award_association[]' id='award_{{loop.index}}_association_input' class='form-control column'>
                                    {% for ref in associated_with %}
                                        {% if ref == award.associated_with %}
                                            <option value='{{ref}}' selected>{{ref}}</option>
                                        {% else %}
                                            <option value='{{ref}}'>{{ref}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <label class='col control-label' style='margin-top: 10px' >Date Received:</label>
                            <div class='col'>
                                <input name='award_date[]' id='award_{{loop.index}}_date_input' value="{{award.date}}" class='form-control column' type='date'/>
                            </div>
                            <label class='col control-label' style='margin-top: 10px'>Award Issuer:</label>
                            <div class='col'>
                                <input name='award_issuer[]' id='award_{{ loop.index }}_issuer_input' class='form-control column' value="{{award.issuer}}" type='text' placeholder='Award Issuer' />
                            </div>
                        </div>
                    </div>
                    <script>
                        add_validation(document.getElementById("award_{{loop.index}}_name_input"));
                    </script>
                {% endfor %}
            </div>
            <div class="col-md-3 col-sm-3"></div>
            <div class="col-md-9 col-sm-9 edit-profile-row">
                <label class="col control-label">Work History:</label>
                <button type="button" onclick="add_work_handler()" id="add_work_button" style="col-lg-1" class="btn btn-primary">Add</button>
                {% for work in user.work_history %}
                    <div id="work_{{loop.index}}" class="col-md-12" style="border-style: dashed; margin-top: 15px; padding: 15px;">
                        <button id="work_delete_{{loop.index}}" class="btn btn-danger" type="button">Delete Job</button>
                        <script>
                            document.getElementById("work_delete_{{loop.index}}").addEventListener("click", function(e) {
                                remove_validation("work_{{loop.index}}_name_input");
                                remove_validation("work_{{loop.index}}_start_date_input");
                                validate_all();
                                remove_work(document.getElementById("work_{{loop.index}}"))
                            });
                        </script>
                        <div class="edit-profile-row column col-md-12">
                            <!-- Company Name -->
                            <label class='col column control-label'>Company Name (Required):</label>
                            <div class='col'>
                                <input onkeyup='validate_all()' name='work_name[]' id='work_{{loop.index}}_name_input' class='form-control column' type='text' value='{{work.name}}' />
                            </div>
                            <!-- Position Title -->
                            <label class='col column control-label'>Position Title:</label>
                            <div class='col'>
                                <input name='work_position[]' id='work_{{loop.index}}_position_input' class='form-control column' type='text' value='{{work.position}}' />
                            </div>
                            <!-- Position Description -->
                            <label class='col control-label' style='margin-top: 10px'>Job Description:</label>
                            <div class='col' style='margin-top: 10px;'>
                                <textarea name='work_description[]' onkeyup="textCounter(this, 'work_{{loop.index}}_desc_chars_left', 120);" id='work_{{loop.index}}_desc_input' class='form-control column' rows='3' cols='30' placeholder='Job Description'>{{ work.description }}</textarea>
                                <p id='work_{{loop.index}}_desc_chars_left'></p>
                            </div>
                            <!-- Start Date -->
                            <label class='col control-label' style='margin-top: 10px' >Start Date (Required):</label>
                            <div class='col'>
                                <input onkeyup='validate_all()' name='work_start_date[]' id='work_{{loop.index}}_start_date_input' value="{{work.start_date}}" class='form-control column' type='date'/>
                            </div>
                            <!-- End Date -->
                           <label class='col control-label' style='margin-top: 10px' >End Date:</label>
                            <div class='col'>
                                <input name='work_end_date[]' id='work_{{loop.index}}_end_date_input' value="{{work.end_date}}" class='form-control column' type='date'/>
                            </div>
                        </div>
                    </div>
                    <script>
                        add_validation(document.getElementById("work_{{loop.index}}_name_input"));
                        add_validation(document.getElementById("work_{{loop.index}}_start_date_input"));
                    </script>
                {% endfor %}
            </div>
            <div class="col-md-3 col-sm-3"></div>
            <div class="col-md-9 col-sm-9 edit-profile-row">
                <label class="col control-label">Education History:</label>
                <button type="button" onclick="add_school_handler()" id="add_school_button" style="col-lg-1" class="btn btn-primary">Add</button>
                {% for school in user.education %}
                    <div id="school_{{loop.index}}" class="col-md-12" style="border-style: dashed; margin-top: 15px; padding: 15px;">
                        <button id="school_delete_{{loop.index}}" class="btn btn-danger" type="button">Delete</button>
                        <script>
                            document.getElementById("school_delete_{{loop.index}}").addEventListener("click", function(e) {
                                remove_validation("school_{{loop.index}}_name_input");
                                remove_validation("school_{{loop.index}}_degree_input");
                                remove_validation("school_{{loop.index}}_start_date_input");
                                validate_all();
                                remove_school(document.getElementById("school_{{loop.index}}"))
                            });
                        </script>
                        <div class="edit-profile-row column col-md-12">
                            <!-- School Name -->
                            <label class='col column control-label'>School Name (Required):</label>
                            <div class='col'>
                                <input name='school_name[]' id='school_{{loop.index}}_name_input' class='form-control column' type='text' value='{{school.name}}' />
                            </div>
                            <!-- Degree -->
                            <label class='col column control-label'>Degree (Required):</label>
                            <div class='col'>
                                <input name='school_degree[]' id='school_{{loop.index}}_degree_input' class='form-control column' type='text' value='{{school.degree}}' />
                            </div>
                            <!-- Start Date -->
                            <label class='col control-label' style='margin-top: 10px' >Start Date (Required):</label>
                            <div class='col'>
                                <input name='school_start_date[]' id='school_{{loop.index}}_start_date_input' value="{{school.start_date}}" class='form-control column' type='date'/>
                            </div>
                            <!-- End Date -->
                           <label class='col control-label' style='margin-top: 10px' >End Date (Or Estimated End Date):</label>
                            <div class='col'>
                                <input name='school_end_date[]' id='school_{{loop.index}}_end_date_input' value="{{school.end_date}}" class='form-control column' type='date'/>
                            </div>
                        </div>
                    </div>
                    <script>
                        add_validation(document.getElementById("school_{{loop.index}}_name_input"));
                        add_validation(document.getElementById("school_{{loop.index}}_degree_input"));
                        add_validation(document.getElementById("school_{{loop.index}}_start_date_input"));
                    </script>
                {% endfor %}
            </div>
            <br>
            <div class="col-md-3 col-sm-3"></div>
            <div class="col-md-9 edit-profile-row">
                <input id="profile_submit" type="submit" value="Submit" class="btn btn-primary btn-large">
            </div>
        </form>
    </div>
</div>

<script src="{{ url_for('static', filename='js/text_counter.js') }}"></script>
<script src="{{ url_for('static', filename='js/autocomplete.js') }}"></script>
<script src="{{ url_for('static', filename='js/add_skill.js') }}"></script>
<script src="{{ url_for('static', filename='js/add_award.js') }}"></script>
<script src="{{ url_for('static', filename='js/add_work.js') }}"></script>
<script src="{{ url_for('static', filename='js/add_school.js') }}"></script>
<script>
    var skills = {{ skills | tojson }};
    var num_awards =  {{ user.awards | length }};
    var num_work = {{ user.work_history | length}}
    var num_schools = {{ user.education | length}}
    var associated_with = {{ associated_with | tojson }};
    autocomplete(document.getElementById("skills_text_input"), skills);

    function add_award_handler(){
        num_awards += 1;
        add_award(document.getElementById("add_award_button"), num_awards, associated_with);
    }

    function add_skill_handler(){
        add_skill(document.getElementById("skills_text_input"), skills);
    }

    function add_work_handler(){
        add_work(document.getElementById("add_work_button"), num_work)
    }

    function add_school_handler(){
        add_school(document.getElementById("add_school_button"), num_schools)
    }
</script>

{% endblock %}