{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <h1>Portfol.io</h1>
    <p>Create your Portfolio and get noticed by employers today!</p>

    <br />

    <div class="text-center mt-4">
        <a class="btn-x1 btn-outline-light" href="{{ url_for('login') }}">
            Create Profile
        </a>
        |
        <a class="btn-x1 btn-outline-light" href="{{ url_for('search') }}">
            Search Profiles
        </a>
    </div>

</div>
{% endblock %}