{% extends "layout.html" %}
{% block title %}
{{ user.name }}'s Portfolio
{% endblock %}

{% block content %}
{% endblock %}


{% block scripts %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboardcard.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/videocard.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}">
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
<script src="{{ url_for('static', filename='js/DashboardCard.js') }}" type="text/babel"></script>
<script src="{{ url_for('static', filename='js/WorkCard.js') }}" type="text/babel"></script>
<script src="{{ url_for('static', filename='js/EducationCard.js') }}" type="text/babel"></script>
<script src="{{ url_for('static', filename='js/AwardCard.js') }}" type="text/babel"></script>
<script src="{{ url_for('static', filename='js/ImageCard.js') }}" type="text/babel"></script>
<script src="{{ url_for('static', filename='js/VideoCard.js') }}" type="text/babel"></script>

<div class="container" style="text-align: center;">
    <script type="text/babel">
                var skills =  {{ user.skills | tojson }}

                ReactDOM.render(
                    <DashboardCard
                        name='{{ user.name }}'
                        email='{{ user.email }}'
                        url='{{ user.picture_normalized_url }}'
                        description='{{user.description}}'
                        skills={skills}
                        show_button={true}
                        linkname="Github"
                        editpage="{{user.html_url}}"
                    />,
                    document.getElementById('dashboard-card')
                );
    </script>
</div>

<div class="container" style="text-align: center;">
    <div id="dashboard-card"></div>
</div>
<div class="container" style="background-color: white; padding: 16px; text-align:centre;">
    <div class="col-md-12">
        <h2>Education</h2>
    </div>
    <div class="col-md-12">
        {% for school in user.education %}
            <div class="shadow-box">
                <h3> {{ school.name }} </h3>
                <h4> {{ school.degree }}</h4>
                <p> {{ school.start_date }} - {{ school.end_date }}</p>
            </div>
        {% endfor %}
    </div>
    <div class="col-md-12">
        <h2>Employment History</h2>
        {% for job in user.work_history %}
            <div class="shadow-box">
                <h3> {{ job.name }} </h3>
                <h4> {{ job.position }}</h4>
                <p> {{ job.description }}</p>
                <p> {{ job.start_date }} - {{ job.end_date }}</p>
            </div>
        {% endfor %}
    </div>
    <div class="col-md-12">
        <h2>Awards</h2>
        {% for award in user.awards %}
            <div class="shadow-box">
                <h3> {{ award.name }} </h3>
                <h4> {{ award.description }}</h4>
                <p> Awarded By: {{ award.issuer }}</p>
                <p> {{ award.date }}</p>
            </div>
        {% endfor %}
    </div>
    <div class="col-md-12">
        <h2>Portfolio</h2>
    </div>
    <div id="card_container"></div>
</div>

<script type="text/babel">
			const Projects = () => {
				return (
					<div>
						{% for project in user.portfolio %}

							{% if  loop.index % 2 == 0 %}
							{% set ori = "left" %}
							{% else %}
							{% set ori = "right" %}
							{% endif %}

							{% if project.item_type == 'image' %}
                                <ImageCard
                                    key="{{ loop.index }}"
                                    title="{{ project.title }}"
                                    description="{{ project.description }}"
                                    url="{{ project.image.url }}"
                                    extraInfo = "{{ project.file.url }}"
                                    orientation="{{ ori }}"
                                    browser="{{ browser }}"
                                    personal_page='false'
                                />
                            {% elif project.item_type == 'pdf' %}
                                <ImageCard
                                    key="{{ loop.index }}"
                                    title="{{ project.title }}"
                                    description="{{ project.description }}"
                                    url='https://cdn.pixabay.com/photo/2017/03/08/21/20/pdf-2127829_960_720.png'
                                    extraInfo = "{{ project.file.url }}"
                                    orientation="{{ ori }}"
                                    browser="{{ browser }}"
                                    personal_page='false'
                                />
                            {% elif project.item_type == 'repo' %}
                                <ImageCard
                                    key="{{ loop.index }}"
                                    title="{{ project.repo.name }}"
                                    description="{{ project.repo.description }}"
                                    url='https://upload.wikimedia.org/wikipedia/commons/c/c6/Font_Awesome_5_brands_github-square.svg'
                                    extraInfo = "{{ project.repo.html_url }}"
                                    orientation="{{ ori }}"
                                    browser="{{ browser }}"
                                    personal_page='false'
                                />
                            {% elif project.item_type == 'file' %}
                                <ImageCard
                                    key="{{ loop.index }}"
                                    title="{{ project.title }}"
                                    description="{{ project.description }}"
                                    url='https://upload.wikimedia.org/wikipedia/commons/thumb/0/0c/File_alt_font_awesome.svg/512px-File_alt_font_awesome.svg.png'
                                    extraInfo = "{{ project.file.url }}"
                                    orientation="{{ ori }}"
                                    browser="{{ browser }}"
                                    personal_page='false'
                                />
                            {% elif project.item_type == 'youtube' %}
                                <VideoCard
                                    key="{{ loop.index }}"
                                    title="{{ project.title }}"
                                    description="{{ project.description }}"
                                    url="{{ project.youtube }}"
                                    extraInfo = "{{ project.youtube }}"
                                    orientation="{{ ori }}"
                                    browser="{{ browser }}"
                                    personal_page='false'
                                />
                            {% endif %}
						{% endfor %}
					</div>
				)

			}

			ReactDOM.render(
				<Projects />,
				document.getElementById('card_container')
			);
		</script>
{% endblock %}