{% extends "layout.html" %}

{% block title %}
Search
{% endblock %}

{% block content %}
<div class="text-center container-fluid" style="background-color: white; padding: 15px">
    <h1>Search for a Portfol.io</h1>

    <br />

    <form method=post enctype=multipart/form-data action="{{ url_for('search') }}">
        <p>Find users with these skills:</p>
        <div style="display: flex; flex-direction: row; flex-wrap: wrap">
            {% for skill in skills %}
                    <div class="col-md-3" style="flex-basis: 10%;">
                        <input type="checkbox" class="form-control" name="skills[]" value="{{ skill }}"> {{ skill }}<br />
                    </div>
            {% endfor %}
        </div>
        <br />
        <p>Find users with these attributes:</p>
        <div  class="row">
            <div class="col-md-6" style="margin-top: 10px">
                <div class="col-md-3">
                    <label>Name: </label>
                </div>
                <div class="col-md-9">
                    <input type="text" class="form-control" name="name" />
                </div>
            </div>
            <div class="col-md-6" style="margin-top: 10px">
                <div class="col-md-3">
                    <label>School: </label>
                </div>
                <div class="col-md-9">
                    <input type="text" class="form-control" name="school_name" />
                </div>
            </div>
            <div class="col-md-6" style="margin-top: 10px">
                <div class="col-md-3">
                    <label>Work Position: </label>
                </div>
                <div class="col-md-9">
                    <input type="text" class="form-control" name="work_position" />
                </div>
            </div>
            <!-- New Row -->
            <div class="col-md-6" style="margin-top: 10px">
                <div class="col-md-3">
                    <label class="form-label">Description:</label>
                </div>
                <div class="col-md-9">
                    <input type="text" class="form-control" name="description" />
                </div>
            </div>
        </div>
        <input type="hidden" name="limit" value="{{ limit }}">
        <input type="hidden" name="offset" value="{{ offset }}">
        <div class="col-md-4"></div>
        <div class="col-md-4" style="margin-top: 10px">
            <input class="form-control" type="submit" value="Submit">
        </div>
        <div class="col-md-4"></div>
    </form>

</div>
{% endblock %}