{% extends "layout.html" %}

{% block title %}
Search
{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <h1>Student Profile Viewer</h1>
    <p>Create your profile and get noticed by employers today!</p>

    <br />

    <form method=post enctype=multipart/form-data action="{{ url_for('search') }}">
        <p>Find users with these skills:</p>
        <div  style="column-count: 3">
            {% for skill in skills %}
                <input type="checkbox" name="skills[]" value="{{ skill }}"> {{ skill }}<br />
            {% endfor %}
        </div>
        <br />
        <p>Find users with these attributes:</p>
        <div  style="column-count: 3">
            <div>
                Name: <input type="text" name="name">
            </div>
            <div>
                School: <input type="text" name="school_name">
            </div>
            <div>
                Work Position: <input type="text" name="work_position">
            </div>
            <div>
                Description: <input type="text" name="description">
            </div>
        </div>
        <input type="hidden" name="limit" value="{{ limit }}">
        <input type="hidden" name="offset" value="{{ offset }}">
        <input type="submit" value="Submit">
    </form>

</div>
{% endblock %}