<!Doctype html>
<meta charset="utf-8"/>

<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/videocard.css') }}">
</head>

<html>
	<header>
		Resume
	</header>
		<!-- Load React -->
		<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
		<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
		<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
		<script src="{{ url_for('static', filename='js/VideoCard.js') }}" type="text/babel"></script>

        <div> {{ browser }}</div>

        <div id="card_container"></div>

		<script type="text/babel">
			const Projects = () => {
				return (
					<div>
						{% for project in projects %}

							{% if  loop.index % 2 == 0 %}
								<VideoCard
									key="{{ loop.index }}"
									title="{{ project.title }}"
									description="{{ project.desc }}"
									url="{{ project.url }}"
									extraInfo = "https://www.youtube.com/watch?v=dQw4w9WgXcQ"
									orientation="left"
									browser="{{ browser }}"
								/>
							{% else %}
							    <VideoCard
									key="{{ loop.index }}"
									title="{{ project.title }}"
									description="{{ project.desc }}"
									url="{{ project.url }}"
									orientation="right"
									browser="{{ browser }}"
								/>
							{% endif %}

						{% endfor %}
					</div>
				)

			}

			ReactDOM.render(
				<Projects />,
				document.getElementById('card_container')
			);
		</script>

		<!-- Custom Components -->
		<script src="C:/Users/Thanatos/Documents/html/TestReact/react_clock.js" type="text/babel"></script>
		<script src="C:/Users/Thanatos/Documents/html/TestReact/dyna_clock.js" type="text/babel"></script>
</html>
